div{
    display: flex;
    justify-content: space-between;
    background-color: lightseagreen;
    padding: 10px 10px;
    h1{
        margin-top: 0;
        margin-bottom: 0;
        width: 300px;
        a{
            color: ivory;
        }
    }
    button{
        background-color: lightseagreen;
        border: 1px solid blue;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
        a{
            position: relative;
            bottom: 4px;
            left: 4px;
            color: ivory;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
        }
        &:hover{
            background-color: blue;
            cursor: pointer;
        }
    }
}
